<div><!--main div start-->
  <h3>Product Details</h3>
    <p>Please Compare with your Requirement</p>
    <%#<form method="post" action="somescript.php">%>
    <p>
    <p>
        <label for="products">Products: </label>
            <select input type="list" name="products">
            <option>--Please Select--</option>
            <option value="Audio Devise">Audio Devise</option>
            <option value="500-1000">500 - 1000</option>
            <option value="1000-2000">1000 - 2000</option>
            <option value="2000+">2000+</option>
            <option value="not sure">Not Sure</option>
        </select>
    </p>
    <table class="dev-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Specification</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aaaa</td>
                <td>Bbbb</td>
                <td>120</td>
            </tr>
            <tr>
                <td><a href="profile.html">Mark Judge</a></td>
                <td>Fall River</td>
                <td>html5, css</td>
            </tr>
        </tbody>
    </table>
</div><!--main div end-->